params {
  config_profile_description = 'Cambridge HPC cluster profile.'
  config_profile_contact = 'Andries van Tonder (ajv37@cam.ac.uk)'
  config_profile_url = "https://docs.hpc.cam.ac.uk/hpc"
}
singularity {
  enabled = true
  autoMounts = true
  singularity.cacheDir = '/rds/project/rds-CvaldwrLQm4/nextflow/singularity-cache'
}
process {
  resourceLimits = [
        memory: 192.GB,
        cpus: 56,
        time: 12.h
  ]
  executor = 'slurm'
  clusterOptions = '-p sapphire -A PARKHILL-SHGB2-SL2-CPU'
}